<h1>TODO List</h1>
<form>
  <input type="text" placeholder="Add new TODO task" [(ngModel)]="newTodoText" [ngModelOptions]="{standalone: true}" />
  <button type="submit" (click)="addTodo()">Add</button>
</form>

<todo *ngFor="let todo of todos$ | ngrxPush" [todo]="todo" (onRemoveTodo)="removeTodo($event)"
  (onToggleTodo)="toggleTodo($event)">
</todo>

<!-- <ng-container *ngrxLet="todos$ as todos">
  <todo *ngFor="let todo of todos" [todo]="todo" (onRemoveTodo)="removeTodo($event)"
    (onToggleTodo)="toggleTodo($event)">
  </todo>
</ng-container> -->